<!-- MAIN PANEL -->
<div id="main" role="main">

  <!-- RIBBON -->
  <div id="ribbon" class="bg-dark-gray flex items-center">

    <!-- collapse menu button -->
    <a class="db pv2 ph3" href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu" style="line-height:22px">
      <span class="white material-icons v-mid">menu</span>
    </a>
    <!-- end collapse menu -->

    <!-- breadcrumb -->
    <ol class="breadcrumb list flex white ma0">
      {% for crumb in helper("breadcrumbs") %}
        {% if not loop.first %}<li><span class="ph2">&gt;</span></li>{% endif %}
        <li>
          {% if crumb.href is not defined %}
            {{ crumb.title }}
          {% else %}
            <a href="{{ helper("url").build(crumb.href) }}" class="white">{{ crumb.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
    <!-- end breadcrumb -->

    {% if helper("session").loggedIn() %}
      {{ include("user-menu.html.twig") }}
    {% endif %}

  </div>
  <!-- END RIBBON -->

  <!-- MAIN CONTENT -->
  <div id="content" class="pa3">
    {{ include("layout.html.twig") }}
  </div>
  <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->
